
.container{
    margin-top: 10px;
    background-color: white;
    border:1px black solid;
    padding: 10px;
}

.flexBox-1{
    display: flex;
    border: 1px black solid;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.flexBox-1 div{
    display: flex;
    padding: 10px;
    border: 1px black solid;
    align-items: center;
}